body {
    margin: 0;
    padding: 0;

    background-color: #191919;
}
body.background_image {
    background-image: url("../images/background-main.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}


div.header_container {
    border-bottom: #fff 1px solid;
    padding: 0;
    margin: 0;
    display: flex;

    width: 100%;
    height: 3.4vw;

    background-color: rgb(47, 0, 90);
}
div.header_left {
    padding: 0;
    margin: 0;

    width: 30%;
    height: 100%;
}
div.header_right {
    padding: 0;
    margin: 0;

    width: 70%;
    height: 100%;
}


ul.header_navigation_bar {
    list-style: none;

    padding: 0;
    margin: 0vw 1vw 1vw 45vw;

    display: inline-flex;
}
a#navigation_bar_button { 
    border: rgb(47, 0, 131) 1px solid;
    border-radius: 0.5vw;
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8vw;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    text-align: center;

    padding: 0.2vw 0.25vw;
    margin: 0.15vw 0.2vw;

    width: 3.5vw;

    background-color: rgb(47, 0, 131);

    transition: 0.5s;
    
}
a#navigation_bar_button:hover {
    box-shadow: rgba(255,255,255,127) 0 0 7px;
    border: rgb(30, 0, 100) 1px solid;

    color: #fff;

    background-color: rgb(30, 0, 100);
}
a#navigation_bar_button:active {
    box-shadow: rgba(255,255,255,127) 0 0 12px;
    border: rgb(47, 0, 90) 1px solid;

    color: #fff;

    background-color: rgb(47, 0, 90);

    transition: 0.12s;
}


h1.header_title_text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    text-align: center;
    color: rgb(79, 0, 175);

    padding: 0;
    margin: 0.6vw;
}
h3#web_version {
    padding: 0.1vw 1vw 0 0;
    margin: 0;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    float: right;

    font-size: 0.6vw;
}


/* END OF STYLESHEET */